body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1360px;
    height: 100%;
    font-family: Roboto, sans-serif;
    color: $text;
    background-color: #F8F0E2;
}

@media screen and (max-width: $tablet-width) {
    body {
        padding: 0 10px;
    }
}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    body {
        padding: 0 40px;
    }
}

@media screen and (min-width: $desktop-width) {
    body {
        padding: 0 40px;
    }
}