@import "./__input/_input";
@import "./__name/_name";
@import "./__button/_button";

.form-wrapper {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}