.nav-social__cart-number {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px;
    right: 15px;
    text-align: center;
    border-radius: 50px;
    background-color: $bgr-color;
}