.nav-social__cart-number {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45px;
    right: 325px;
    text-align: center;
    border-radius: 50px;
    background-color: $bgr-color;
}