@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roboto-Regular.woff2");
}

@media screen and (max-width: 767px) {
    body {
        padding: 0 10px;
    }
    .main-nav__list {
        display: none;
    }
    .nav {
        display: flex;
        padding: 0 20px;
    }
    .nav__hamburger {
        width: 40px;
        height: 25px;
        position: relative;
        margin: 13px auto 13px 0;
        cursor: pointer;
    }
    .nav__hamburger__item {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #56593D;
        border-radius: 9px;
        opacity: 1;
        left: 0;
    }
    .nav__hamburger__item:nth-child(1) {
        top: 0px;
    }
    .nav__hamburger__item:nth-child(2) {
        top: 10px;
    }
    .nav__hamburger__item:nth-child(3) {
        top: 20px;
    }
    .intro__wrapper {
        padding: 0;
        margin: 300px 10px 80px 10px;
        text-align: center;
    }
    .intro__text-wrapper {
        padding: 60px;
        margin: 0;
        margin-bottom: 30px;
    }
    .intro__text__text {
        margin: 0;
        padding: 50px;
        font-size: 2em;
        text-align: center;
    }
    .photo-wrapper {
        padding: 30px 50px 350px 50px;
    }
    .photo-wrapper__text {
        margin: 0;
        padding: 0;
        padding-top: 20px;
        font-size: 2em;
        text-align: center;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .card__image {
        max-width: 99%;
    }
    .card__wrapper {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        padding: 0 40px;
    }
   .nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .main-nav__list {
        display: flex;
        flex-wrap: wrap;
        order: 2;
        align-self: center;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        color: #56593D;
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
        list-style-type: none;
    }
    .main-nav__item {
        margin-right: 40px;
        padding: 20px 4px;
    }
    .main-nav__link {
        padding: 5px;
        color: inherit;
        text-decoration: none;
    }
    .main-nav__link:hover {
        text-decoration: underline;
    }
    .main-logo {
        align-self: center;
    }
    .nav__hamburger {
        display: none;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .card__wrapper {
        display: flex;
        flex-direction: column;
        padding: 127px 119px;
    }
    .intro__wrapper {
        margin: 400px 64px 64px 0;
        padding: 0;
        text-align: right;
    }
    .intro__text-wrapper {
        padding: 87px 32px;
    }
    .intro__text__text {
        margin: 0;
        margin-bottom: 26px;
        padding: 0 40px;
        font-size: 3.56em;
        line-height: 81px;
        text-align: center;
    }
    .photo-wrapper {
        max-width: 100%;
        min-height: 732px;
        box-sizing: border-box;
        margin: 23px 0;
        padding: 72px 117px;
    }
    .photo-wrapper__text {
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
}

@media screen and (min-width: 1023px) {
    body {
        padding: 0 40px;
    }
    .nav {
        justify-content: flex-start;
    }
    .main-nav__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding: 0;
        margin: 0;
        margin-right: 134px;
        color: #56593D;
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
        list-style-type: none;
    }
    .main-nav__item {
        margin-right: 40px;
        padding: 20px 4px;
    }
    .main-nav__link {
        padding: 5px;
        color: inherit;
        text-decoration: none;
    }
    .main-nav__link:hover {
        text-decoration: underline;
    }
    .nav__hamburger {
        display: none;
    }
    .intro__wrapper {
        margin: 470px 64px 64px 0;
        padding: 0;
        text-align: right;
    }
    .intro__text-wrapper {
        padding: 87px 32px;
    }
    .intro__text__text {
        margin: 0;
        margin-bottom: 26px;
        padding: 0 40px;
        font-size: 3.56em;
        line-height: 81px;
        text-align: center;
    }
    .photo-wrapper {
        max-width: 100%;
        min-height: 732px;
        box-sizing: border-box;
        margin: 23px 0;
        padding: 72px 117px;
    }
    .photo-wrapper__text {
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
    .card__wrapper {
        display: flex;
        flex-direction: column;
        padding: 127px 119px;
    }
}

.visually-hidden {
    display: none;
}
body {
    max-width: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #56593D;
}
.body-wrapper{
    margin: 0 auto;
}
.nav {
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-height: 102px;
    background-color: #FFFFFF;
    border-top: 16px solid #FFFFEF;
}
.main-logo {
    padding: 0;
    margin: 0;
}
.main-logo__img {
    padding: 0;
    padding-top: 13px;
    margin: 0;
}
.intro__photo-wrapper {
    max-height: 732px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 16px solid #FFFFEF;
}
.intro__wrapper__text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.intro__wrapper__subtext {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 45px;
    line-height: 60px;
}
.intro__button {
    margin: 0;
    margin-bottom: 64px;
    padding: 16px 25px;
    color: #FFFFEF;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #56593D;
}
.intro__button:hover {
    background-color: #FFFFEF;
    color: #56593D;
}
.intro-text__link {
    margin-right: 68px;
    color: #56593D;
    font-size: 16px;
    line-height: 26px;
}
.intro-text__link:hover {
    background-color: #56593D;
    color: #FFFFEF;
}
.intro-text__link--second {
    margin-right: 0;
}
.intro-text__links-wrapper {
    text-align: center;
}
.catalog {
    padding: 64px 0;   
    background-color: #FFFFEF;
}
.catalog__title {
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}
.catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(411px, 1fr)) ;
    grid-gap: 32px;
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
}
.catalog__item {
    text-align: center;
}
.catalog__link {
    color: inherit;
    text-decoration: none;
}
.catalog__image {
    max-width: 100%;
    max-height: 100%;
}
.photo-wrapper {
    max-height: 732px;
    background-image: url("../images/background-plates.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 16px solid #FFFFEF;
}
.photo-wrapper__title {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.card {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 64px 32px;
    background-color: #FFFFEF;
}
.card--left {
    margin-bottom: 24px;
}
.card__title {
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    font-size: 29px;
    line-height: 28px;
    text-align: center;
}
.card__text {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
