@media screen and (max-width: $tablet-width) {
    .footer__wrapper {
        margin-bottom: 30px;
    }

    .footer__wrapper_copyright {
        order: 4;
    }

    .footer__wrapper_first {
        order: 2;
    }

    .footer__wrapper_second {
        order: 3;
    }
}
