.intro__link-wrapper__link {
    margin-right: 68px;
    color: #56593D;
    font-size: 16px;
    line-height: 26px;

&:hover {
    background-color: #56593D;
    color: #FFFFEF;
}

&--second {
    margin-right: 0;
}
}
