@import "./__list/_list";
@import "./__text/_text";
@import "./__title/_title";
@import "./__wrapper/_wrapper";

.footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 64px 32px;
    background-color: $text;
    color: $bgr-color;
}

@media screen and (max-width: $tablet-width) {
    .footer {
    display: flex;
    flex-direction: column;
    }
}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    // .footer {
    // display: flex;
    // flex-direction: column;
    // }
}
