@import "./__error/_error";
@import "./__text/_text";
@import "./__title/_title";

.form {
    padding: 50px 200px;
    margin: 0;
    margin-bottom: 30px;
    background-color: $bgr-color;
}

@media screen and (max-width: $tablet-width) {
   .form {
       padding: 30px;
       padding-top: 50px;
   } 
}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    .form {
        padding: 30px;
        padding-top: 50px;
    }
}