.intro__photo-wrapper {
    max-height: 732px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 16px solid $white;
}

