@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff2");
}
.visually-hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1360px;
  height: 100%;
  font-family: Roboto, sans-serif;
  color: hsl(66deg, 19%, 29%);
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-nav__item {
    margin-right: 40px;
    padding: 20px 4px;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav__item {
    margin-right: 40px;
    padding: 20px 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-nav__link {
    padding: 5px;
    color: inherit;
    text-decoration: none;
  }
  .main-nav__link:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav__link {
    padding: 5px;
    color: inherit;
    text-decoration: none;
  }
  .main-nav__link:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 768px) {
  .main-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    align-self: center;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    color: hsl(66deg, 19%, 29%);
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    list-style-type: none;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding: 0;
    margin: 0;
    color: hsl(66deg, 19%, 29%);
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    list-style-type: none;
  }
}
.main-nav {
  display: flex;
  max-width: 100%;
  max-height: 102px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: hsl(0deg, 0%, 100%);
  border-top: 16px solid hsl(60deg, 100%, 97%);
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    width: 40px;
    height: 25px;
    position: relative;
    margin: 13px auto 13px 0;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
.intro__button {
  margin: 0;
  margin-bottom: 64px;
  padding: 16px 25px;
  color: hsl(60deg, 100%, 97%);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: hsl(66deg, 19%, 29%);
}

.intro__button:hover {
  background-color: hsl(60deg, 100%, 97%);
  color: hsl(66deg, 19%, 29%);
}

.intro__link-wrapper__link {
  margin-right: 68px;
  color: #56593D;
  font-size: 16px;
  line-height: 26px;
}
.intro__link-wrapper__link:hover {
  background-color: #56593D;
  color: #FFFFEF;
}
.intro__link-wrapper__link--second {
  margin-right: 0;
}

.intro__link-wrapper {
  text-align: center;
}

.intro__photo-wrapper {
  max-height: 732px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../images/background-table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 16px solid hsl(0deg, 0%, 100%);
}

@media screen and (max-width: 768px) {
  .intro__text-wrapper {
    padding: 60px;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__text-wrapper {
    padding: 87px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__text-wrapper {
    padding: 87px 32px;
  }
}
@media screen and (max-width: 768px) {
  .intro__text {
    margin: 0;
    padding: 50px;
    font-size: 2em;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__text {
    margin: 0;
    margin-bottom: 26px;
    padding: 0 40px;
    font-size: 3.56em;
    line-height: 81px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .intro__text {
    margin: 0;
    margin-bottom: 26px;
    padding: 0 40px;
    font-size: 3.56em;
    line-height: 81px;
    text-align: center;
  }
}
.intro__wrapper__subtext {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 45px;
  line-height: 60px;
}

.intro__wrapper__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .intro__wrapper {
    padding: 0;
    margin: 300px 10px 80px 10px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__wrapper {
    margin: 400px 64px 64px 0;
    padding: 0;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  .intro__wrapper {
    margin: 470px 64px 64px 0;
    padding: 0;
    text-align: right;
  }
}
.main-logo__img {
  padding: 0;
  margin: 0;
}

.main-logo {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-logo {
    align-self: center;
  }
}
.catalog__image {
  max-width: 100%;
  max-height: 100%;
}

.catalog__item {
  text-align: center;
}

.catalog__link {
  color: inherit;
  text-decoration: none;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(411px, 1fr));
  grid-gap: 32px;
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
}

.catalog__title {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.catalog {
  padding: 64px 0;
  background-color: hsl(60deg, 100%, 97%);
}

.photo-wrapper__title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .photo-wrapper__text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-wrapper__text {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .photo-wrapper__text {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}
.photo-wrapper {
  max-height: 732px;
  background-image: url("../images/background-plates.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 16px solid hsl(0deg, 0%, 100%);
}

@media screen and (max-width: 768px) {
  .photo-wrapper {
    padding: 30px 50px 350px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-wrapper {
    max-width: 100%;
    min-height: 732px;
    box-sizing: border-box;
    margin: 23px 0;
    padding: 72px 117px;
  }
}
@media screen and (min-width: 1024px) {
  .photo-wrapper {
    max-width: 100%;
    min-height: 732px;
    box-sizing: border-box;
    margin: 23px 0;
    padding: 72px 117px;
  }
}
@media screen and (max-width: 768px) {
  .card__image {
    max-width: 99%;
  }
}
.card__text {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.card__title {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  font-size: 29px;
  line-height: 28px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 127px 119px;
  }
}
@media screen and (min-width: 1024px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 127px 119px;
  }
}
.card {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 64px 32px;
  background-color: hsl(60deg, 100%, 97%);
}
.card--left {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
.footer__list__item {
  margin-top: 20px;
}

.footer__list__link {
  color: hsl(60deg, 100%, 97%);
  text-decoration: none;
}
.footer__list__link:hover {
  text-decoration: underline;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__text {
  max-width: 256px;
}
.footer__text_mail {
  text-decoration: none;
  color: inherit;
}
.footer__text_mail:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 64px 32px;
  background-color: hsl(66deg, 19%, 29%);
  color: hsl(60deg, 100%, 97%);
}

.footer-text {
  font-size: 15px;
  text-transform: uppercase;
}

.footer-social__icon {
  fill: black;
}
.footer-social__icon:hover {
  fill: hsl(60deg, 100%, 97%);
}

.footer-social__item {
  margin-left: 20px;
}

.footer-social__link {
  fill: black;
}
.footer-social__link:hover {
  fill: hsl(60deg, 100%, 97%);
}

.footer-social__list {
  display: flex;
  list-style-type: none;
}

hr {
  width: 50px;
  padding: 0;
  margin: 0;
  background-color: hsl(60deg, 100%, 97%);
}

.nav-social__item {
  margin-left: 10px;
}

.nav-social__link {
  padding: 5px;
}

.nav-social__cart-number {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 45px;
  right: 325px;
  text-align: center;
  border-radius: 50px;
  background-color: hsl(60deg, 100%, 97%);
}

.nav-social {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.signup__button {
  padding: 5px 25px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  color: hsl(60deg, 100%, 97%);
  background-color: hsl(66deg, 19%, 29%);
  cursor: pointer;
}
.signup__button:hover {
  background-color: hsl(60deg, 100%, 97%);
  color: hsl(66deg, 19%, 29%);
  border: none;
}

.signup__input {
  width: 340px;
  margin-right: 16px;
  border: none;
  border-bottom: 1px solid hsl(66deg, 19%, 29%);
  background-color: hsl(60deg, 100%, 97%);
}

.signup__text {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-size: 17px;
  text-align: center;
}

.signup__title {
  font-size: 28px;
  text-align: center;
}

.signup__form {
  display: flex;
  justify-content: center;
}

.signup {
  padding: 63px 400px;
  margin: 40px 0;
  background-color: hsl(60deg, 100%, 97%);
}

.form {
  background-color: hsl(60deg, 100%, 97%);
}

.form-wrapper__input {
  border: none;
  border-bottom: 1px solid hsl(66deg, 19%, 29%);
  background-color: hsl(60deg, 100%, 97%);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
