@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roboto-Regular.woff2");
}

@media screen and (max-width: 767px) {

}

.visually-hidden {
    display: none;
}
body {
    max-width: 100%;
    margin: 0;
    padding: 0 40px;
    font-family: Roboto, sans-serif;
    color: #56593D;
}
.body-wrapper{
    margin: 0 auto;
    /* width: 1360px; */
}
.nav {
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-height: 102px;
    background-color: #FFFFFF;
    border-top: 16px solid #FFFFEF;
}
.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 134px;
    padding: 0;
    padding-left: 20px;
    width: 500px;
    color: #56593D;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    list-style-type: none;
}
.main-nav__item {
    margin-right: 40px;
    padding: 20px 4px;
}
.main-nav__link {
    padding: 5px;
    color: inherit;
    text-decoration: none;
}
.main-nav__link:hover {
    text-decoration: underline;
}
.main-logo {
    padding: 0;
    margin: 0;
}
.main-logo__img {
    padding: 0;
    padding-top: 13px;
    margin: 0;
}
.intro__photo-wrapper {
    min-height: 732px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 16px solid #FFFFEF;
}
.intro__wrapper {
    margin: 462px 64px 0 0;
    padding: 0;
    text-align: right;
}
.intro__wrapper__text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.intro__wrapper__subtext {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 45px;
    line-height: 60px;
}
.intro__button {
    margin: 0;
    margin-bottom: 64px;
    padding: 16px 25px;
    color: #FFFFEF;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #56593D;
}
.intro__button:hover {
    background-color: #FFFFEF;
    color: #56593D;
}
.intro__text-wrapper {
    padding: 87px 32px;
}
.intro__text__text {
    margin: 0;
    margin-bottom: 26px;
    padding: 0 40px;
    font-size: 57px;
    line-height: 81px;
    text-align: center;
}
.intro-text__link {
    margin-right: 68px;
    color: #56593D;
    font-size: 16px;
    line-height: 26px;
}
.intro-text__link:hover {
    background-color: #56593D;
    color: #FFFFEF;
}
.intro-text__link--second {
    margin-right: 0;
}
.intro-text__links-wrapper {
    text-align: center;
}
.catalog {
    padding: 64px 0;   
    background-color: #FFFFEF;
}
.catalog__title {
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}
.catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(411px, 1fr)) ;
    grid-gap: 32px;
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
}
.catalog__item {
    text-align: center;
}
.catalog__link {
    color: inherit;
    text-decoration: none;
}
.photo-wrapper {
    max-width: 100%;
    min-height: 732px;
    box-sizing: border-box;
    margin: 23px 0;
    padding: 72px 117px;
    background-image: url("../images/background-plates.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 16px solid #FFFFEF;
}
.photo-wrapper__title {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.photo-wrapper__text {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}
.card {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 64px 32px;
    background-color: #FFFFEF;
}
.card--left {
    margin-bottom: 24px;
}
.card__title {
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    font-size: 29px;
    line-height: 28px;
    text-align: center;
}
.card__text {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
.card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 127px 119px;
}
.card--left::before {
    width: 743px;
    height: 618px;
    content: url('../images/card-shelves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card--right::after {
    width: 1328px;
    height: 885px;
    content: url('../images/card-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}