// Вьюпорты

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

//Цвета

$text: hsl(66, 19%, 29%);
$white: hsl(0, 0%, 100%);
$bgr-color: hsl(60, 100%, 97%);


//Миксины

@mixin input {
    border: none;
    border-bottom: 1px solid $text;
    background-color: $bgr-color;
    font-size: 15px;
    font-family: inherit;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

@mixin button {
    text-transform: uppercase;
    border: none;
    color: $bgr-color;
    background-color: $text;
    letter-spacing: 1.6px;
    cursor: pointer;
}